Source: lsc-executable-plugin
Section: java
Priority: optional
Maintainer: Clement Oudot <clem.oudot@gmail.com>
Build-Depends: debhelper (>> 7)
Standards-Version: 3.9.5
Homepage: https://lsc-project.org/
Vcs-Git: https://github.com/lsc-project/lsc-executable-plugin.git
Vcs-Browser: https://github.com/lsc-project/lsc-executable-plugin

Package: lsc-executable-plugin
Architecture: all
Depends: ${misc:Depends}, lsc (>= 2.2)
Description: This is an Executable plugin for LSC
